@media (max-width: 1900px) {
  body {
    background-size: 880px;
  }
}

@media (max-width: 1800px) {
  body {
    background-size: 800px;
  }
}

@media (max-width: 1650px) {
  body {
    background-size: 750px;
  }
}

@media (max-width: 1550px) {
  body {
    background-size: 700px;
  }
}

@media (max-width: 1450px) {
  body {
    background-size: 650px;
  }
}

@media (max-width: 1320px) {
  body {
    background-size: 600px;
  }
}

@media (max-width: 1200px) {
  body {
    background-position-x: -100px;
  }
}